.header-container {
    position: relative;
    text-align: center; /* centers the title */
}

.close-button {
    position: absolute;
    right: 0; /* move button to right */
    top: 50%;
    transform: translateY(-50%); /* vertically center the button */
}

.center-title {
    margin: 0; /* remove default h1 margin */
}

/* Container for the Post button, centers it horizontally */
.center-button {
    display: flex;              /* Use flexbox */
    justify-content: center;    /* Center the button horizontally */
}